{% extends 'memes/layout.html' %}

{% block content %}

<h3 class="center-align green lighten-4">Recent Memes</h3>
<div class="container pad-from-nav-and-header">
    {% for meme in memes %}
    <div class="card">
        <div class="card-content">
            <div class="container center-align auto-width">
                <img src="{{meme.get_api_url}}">
            </div>
            <div class="container margin-top-10">
                <div class="row">
                    <div class="col s1">
                        {% load meme_tags %}

                        {% with meme|get_like_from_user_and_meme:user as like_pk %}
                        {% if like_pk == None %}
    <!--                    <a class="col s1 disabled"><i class="material-icons">favorite</i></a>-->
                        <form id="add-like" action="/memes/like/add/" method="post">
                            {% csrf_token %}
                            {{ like_form }}
                            <input type="hidden" name="meme_id" value="{{meme.pk}}" />
                        </form>
                        <a href="javascript:$('#add-like').submit();"><i class="material-icons">favorite_border</i></a>{% else %}
    <!--                    <a class="col s1 disabled" href=""><i class="material-icons">favorite_border</i></a>-->
                        <form id="delete-like" action="/memes/like/delete/{{like_pk}}/" method="post">
                            {% csrf_token %}
                            {{ like_form }}
                            <input type="hidden" name="meme_id" value="{{meme.pk}}" />
                        </form>
                        <a href="javascript:$('#delete-like').submit();"><i class="material-icons">favorite</i></a>
                        {% endif %}
                        {% endwith %}
                        <br>
                    </div>
                    <div class="col s1">
                        <p>{{meme.like_set.all|length}}</p>
                    </div>
                </div>
                <div class="row">
                    <ul class="collection">
                        {% for comment in meme.comment_set.all %}

                        <li class="collection-item">
                            <h5 class="blue-text">{{comment.user.username}}</h5>
                            <p class="margin-left-10">{{comment.content}}</p>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <form action="/memes/comment/" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="hidden" name="meme_id" value="{{meme.pk}}" />
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for meme in memes %}
        {# Each "meme" is a meme model object. #}
        {{ meme.full_name|upper }}
    {% endfor %}

    <div class="pagination center-align">
        <br>
        <span class="step-links">
            {% if memes.has_previous %}
                <a href="?page={{ memes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ memes.number }} of {{ memes.paginator.num_pages }}.
            </span>

            {% if memes.has_next %}
                <a href="?page={{ memes.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    <br><br>
</div>

{% endblock %}
