{% extends 'memes/layout.html' %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, null);
    });
</script>

<h3 class="center-align green lighten-4">Make Memes, Dude</h3>
<div class="container pad-from-nav-and-header">
    <form action="/memes/make_memes/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}