{% extends 'memes/layout.html' %}

{% block content %}

<h3 class="center-align green lighten-4">User Profile</h3>

<div class="container pad-from-nav-and-header">
    <div class="card">
        <div class="card-content">
            <h4>Username</h4>
            <p>{{user.username}}</p>

            <h4>Email Address</h4>
            <p>{{user.email}}</p>

            <h4>First Name</h4>
            <p>{{user.first_name}}</p>

            <h4>Last Name</h4>
            <p>{{user.last_name}}</p>
            <br>

            <a class="btn" href="/memes/profile/edit/{{user.pk}}/">Edit</a>
        </div>
    </div>
</div>

{% endblock %}